# Dependency directories
node_modules/

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*


package-lock.json

# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

# directory
.idea/*

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

*.env

.env.prod
.env.prod.flavien
.env.prod.mp
